@font-face {
    font-family: 'Boss Signature';
    src: url('BossSignature.woff2') format('woff2'),
        url('BossSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boss Signature';
    src: url('BossSignature.woff2') format('woff2'),
        url('BossSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

